---
title: About Goldydocs
linkTitle: About
menu:
  main:
    weight: 10
---

{{< blocks/cover title="Why We Build TikTag" image_anchor="bottom" height="min" >}}
  <p class="lead mt-5">Creators need <code>TikTag</code> to run their businesses.</p>
  {{< /blocks/cover >}}

{{% blocks/lead %}}
Before you mint your works as NFT, Non-Fungible Token, <br>
you either store them on disk (locally) or somewhere you trust on the cloud.

That's fine.
{{% /blocks/lead %}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">
... UNTIL you want people to trust you over your assets.</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center"><i><code>TikTag</code></i> adds <b>auditability</b> to <br> how you're keeping your digital assets.</h1> <br>
</div>

{{% blocks/feature icon="fa fa-fingerprint" title="Friendly Asset ID" %}}
When you run `tiktag myfile.png`, we assign a globally unique and readable ID to your asset, while you decide where to store them.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-floppy-disk" title="You Keep Your Asset" %}}
You store your photos/assets locally or on object storage of choice. TikTag does NOT host your assets.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-shoe-prints" title="Opt-in Track & Traceability" %}}
You decide how much you want others to know about your asset's `meta info`, such as time created or minted and how.
{{% /blocks/feature %}}

{{< /blocks/section >}}
