---
title: About Goldydocs
linkTitle: About
menu:
  main:
    weight: 10
---

{{< blocks/cover title="Why We Build TikTag" image_anchor="bottom" height="min" >}}
  <p class="lead mt-5">We use <code>TikTag</code> everyday.</p>
  {{< /blocks/cover >}}

{{% blocks/lead %}}
Before you mint your works as NFT, Non-Fungible Token, <br>
you either store them on disk (locally) or somewhere you trust on the cloud.

That's fine.
{{% /blocks/lead %}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">
... UNTIL you want people to trust you before they buy.</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center"><i><code>TikTag</code></i> adds more transparency to <br> how you're keeping your digital assets.</h1> <br>
</div>

{{% blocks/feature icon="fab fa-github" title="Globally Unique ID" %}}
When you run `tiktag myfile.png`, we assign a globally unique ID to your asset, but your assets stay where you want them to be.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Assets Stored OFF-cloud" %}}
You store image/asset files on locally or storage of your choice. We DO NOT retain any assets in the original, except thumnails for preview.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Opt-in Track & Traceability" %}}
You decide how much `meta info` of your assets shall be disclosed to others, such as your potential buyers.
{{% /blocks/feature %}}

{{< /blocks/section >}}
