+++
title = "TikTag"
linkTitle = "TikTag"
+++

{{< blocks/cover title="Bottom-up digital asset auditing" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto col-md-10">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "#" >}}">
		How to TikTag (coming soon...) <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="#">
		Download (coming soon)<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="mx-auto">(We're on PRIVATE ALPHA ... stay tuned!)</p>
	<p class="lead mt-5">How <code>TikTag</code> works in command-line:</p>
    <p class="lead">
    {{< card-code lang="Shell" >}}
Host an asset,
> tiktag myfilename.png
> Tik ...Tag ... your asset is successfully hosted at,
> https://s3.tikoly.com/village/563583552944996352.png
    {{< /card-code>}} 
    {{< card-code lang="Shell" >}}
Retrieve an asset's URI
> tiktag search myfilename.png
> We found this asset at,
> https://s3.tikoly.com/village/563583552944996352.png
    {{< /card-code>}} 
    {{< card-code lang="Shell" >}}   
Verify an asset's ownership,
> tiktag whose myfilename.png
> We found,
> Sui Wallet https://etherscan.io/address/0x6ce19a00f0424b27bc2fce5ec3f10ba022a42370
> Please visit https://tiktag.us/ for more options.
    {{< /card-code>}} 
    </p>

	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}

`TikTag` is a tool to make the handling of digital asset, such as photo, **auditable**.<br>
Tik...you host your image somewhere of your choosing. <br>
Tag...you get the image's URL for authorized use or public sharing. <br>
Over time, you leave an audit trail to prove your asset's ownership.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-lightbulb" title="Back to Basics" %}}
Command-line is faster than drag-and-drop in handling digital assets. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-hand-holding-heart" title="End-to-End, Trustless Trust"%}}
Stay transparent to gain trustless trust on digital assets handling before minting and trading them on NFT networks.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-dollar" title="Close the Give-and-Take Loop" %}}
Benefit from better digital ownership with *TikTag*. Your assets stay yours until you give-and-take or buy-and-sell.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-github" title="Download from **Github**" url="https://github.com/tikoly-com/tiktag" %}}
Check out how to get and install `TikTag`.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-people-group" title="Contributions welcome!" url="https://github.com/tikoly-com/tiktag/issues" %}}
Report bugs, leave a comment or share your feature wish-list. Join and build `TikTag` together!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Join our Slack!" url="https://join.slack.com/t/tiktag/shared_invite/zt-1kdvg6uwx-xruL~AMhYGgd0QezP66~PA" %}}
For announcement, community support and partnership enquiry.
{{% /blocks/feature %}}

{{< /blocks/section >}}
