+++
title = "TikTag"
linkTitle = "TikTag"
+++

{{< blocks/cover title="Bottom-up digital asset auditing" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto col-md-10">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/quick-start" >}}">
		How to TikTag<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="#">
		Download (upcoming)<i class="fab fa-github ml-2 "></i>
	</a>
	<p class="mx-auto">We're on PRIVATE ALPHA ... </br>
		Stay tuned by <a href="https://keybase.io/team/tiktagus" target="_blank">joining our conversation on Keybase</a>.</p>
	<p class="lead mt-5">How will <code>TikTag</code> work in command line:</p>
    <p class="lead">
    {{< card-code lang="Shell" >}}
Host an asset,
> tiktag myfilename.png
> Tik ...Tag ... your asset is successfully hosted at,
> https://s3.tikoly.com/village/563583552944996352.png
    {{< /card-code>}} 
    {{< card-code lang="Shell" >}}
Retrieve an asset's URI
> tiktag search myfilename.png
> We found this asset at,
> https://s3.tikoly.com/village/563583552944996352.png
    {{< /card-code>}} 
    {{< card-code lang="Shell" >}}   
Verify an asset's ownership,
> tiktag whose myfilename.png
> We found,
> Sui Wallet https://etherscan.io/address/0x6ce19a00f0424b27bc2fce5ec3f10ba022a42370
> Please visit https://tiktag.us/ for more options.
    {{< /card-code>}} 
    </p>

	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}

`TikTag` is firstly a tool for self-hosting your photos or digital assets. <br>
 By sharing the cryptographic foot-prints of your assets with `TikTag`, <br>
 NOT the assets themselves, <br>
 you're gaining [_trustless trust_](https://medium.com/bankless-dao/what-is-a-trustless-system-3ded568c8921) from others over your assets. <br>
 This, is THE foundation to make your creative works valuable.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-lightbulb" title="Back to the Basics" %}}
Command-line is faster than drag-and-drop in handling digital assets. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-hand-holding-heart" title="Trustless Trust, End-to-End"%}}
Stay transparent to gain trustless trust on digital assets handling before minting and trading them on NFT networks.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-dollar" title="Close the Value Loop" %}}
Benefit from Web3-ready ownership over your assets. Your assets stay yours until you give or sell them.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-github" title="Download from **Github**" url="https://github.com/tikoly-com/tiktag" %}}
Check out how to `go install` TikTag.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-people-group" title="Contributions welcome!" url="https://github.com/tikoly-com/tiktag/issues" %}}
Report bugs, leave a comment or share your feature wish-list. Join and build `TikTag` together!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Join the Conversation!" url="https://keybase.io/team/tiktagus" %}}
For announcement, community support and partnership enquiry.
{{% /blocks/feature %}}

{{< /blocks/section >}}
